.blog {
  width: 1146px;
  min-height: 220px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.blog__new {
  width: 560px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #fff;
  background-image: url("../../static/img/blog/blog-news.png");
  margin-right: 25px;
}

.blog__new-small-text {
  color: #323232;
  font-size: 16px;
  line-height: 22px;
  margin-top: 23px;
  margin-left: 20px;
  margin-bottom: 0;
}

.blog__new-large-text {
  width: 51%;
  color: #323232;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 20px;
  margin-top: 5px;
}

.blog__subscribe {
  position: relative;
  width: 560px;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #fff;
  background-image: url("../../static/svg/bg-post.svg");
  padding: 6px;
}

.blog__subscribe__part {
  width: 100%;
  height: 100%;
  background-color: #f8f7f4;
  border-radius: 10px;
}

.blog__subscribe-text {
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  padding-top: 30px;
  padding-left: 21px;
  padding-right: 21px;
  margin: 0;
}

.blog__button {
  width: 129px;
  height: 44px;
  border-radius: 22px;
  border-color: #ef6340;
  background-color: #e84d37;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #fefefe;
  box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
  border: none;
  text-align: center;
  position: absolute;
  bottom: 40px;
  right: 25px;
}

.blog__button:hover {
  cursor: pointer;
  background-color: #f17c64;
}

.blog__button:active {
  background-color: #dc5539;
}

.blog__subscribe input[type="email"] {
  height: 40px;
  width: 366px;
  border-radius: 4px;
  position: absolute;
  bottom: 40px;
  left: 27px;
  border: solid #d3d3d2 1px;
}

.blog__subscribe input[type="email"]::placeholder {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  padding-left: 14px;
}
